body {
  margin: 0;
  font-family: 'Roboto';
  background: rgb(0, 121, 191);
}

.board {
  min-height: 100vh;
  min-width: 100vw;
  padding: 1rem;
  display: flex;
  align-items: start;
}

.column-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 20%;
  max-width: 20%;
  cursor: -webkit-grab;
}
.column {
  background: #E2E4E6;
  border-radius: 3px;
  margin-right: 1rem;
}
.column.is-dragging {
  cursor: -webkit-grabbing;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
}
.column-header {
 padding: 0.5rem 1rem;
 border-radius: 3px;
}
.column-header:hover {
  background: #dadada;
}
.column-header:active {
  background: #c1c2c3;
}
.column-body {
  padding: 1rem;
}
.column-item {
  background-color: white;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 2px;
}